*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

.btn-primary{
    height: 64px;
    width: 150px;
    left: 1220px;
    top: 50px;
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    margin-right: 5px;
}
.contact{
   
    color: #FD6E0A;
    font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
box-sizing: border-box;
width: 160px;
height: 64px;
left: 304px;
top: 574px;

border: 1px solid #FD6E0A;
border-radius: 5px;
}

.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation style */

nav{
/* takes them to side */
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav-title{
    font-weight: 800;
font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav li{
    /* vanish dots(.) */
    list-style: none;
    margin-left: 50px;
}

/* banner styles */
.banner{
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title{
    color: #181818;
    font-weight: 700;
font-size: 85px;
width: 498px;
height: 116px;
left: 74px;
top: 348px;

}
.banner-sub.title{
    margin: 0 20px;
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    width: 177px;
    height: 61px;
    left: 74px;
    top: 282px;
}

.banner-description{
   margin-bottom: 30px;
    color: #757575;
    font-weight: 400;
font-size: 18px;
line-height: 30px;
width: 585px;
height: 60px;
left: 74px;
top: 484px;
}

/* main  */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* styless in section */

.about{
    margin-top: 131px;
    background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
   

}

.section-title{
    text-align: center;
    font-weight: 700;
font-size: 35px;
    margin-bottom: 50px;

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;

}
.about-info-container{
    display: flex;
    justify-content: space-around;
}

.info-title{
    color: #757575;
    font-weight: 400;
font-size: 20px;
line-height: 30px;
text-align: center;
}

.info-description{
    color: #474747;
    font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
}

.what-i-do{
    margin-top: 131px;

}
.what-do-des{
    color: #757575;
    font-weight: 400;
font-size: 18px;
line-height: 30px;
text-align: center;
margin-top: 30px;
margin-bottom: 50px;
margin-left: 30px;
margin-right: 30px;

}
.skill{
    
    background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;

}
.skill-container{
    display: flex;
    gap: 10px;
}
.skill-title{
    
    font-weight: 700;
    font-size: 20px;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 27px;
 
}
.skill-title-description{
    color: #757575;
    font-weight: 400;
font-size: 16px;
line-height: 28px;
}
.resume-content{
    display: flex;
    gap: 24px;
}

.resume .title{
    font-weight: 700;
font-size: 25px;
line-height: 34px;
color: #474747;
margin-bottom: 10px;
    
}
.resume .sub-title{
    font-weight: 600;
font-size: 20px;
line-height: 27px;
color: #757575;
margin-bottom: 10px;
}
.resume .description{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #757575;

}

.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}

.button-primary{
    margin-left: 500px;
    margin-right: 5px;
    margin-top: 20px;
    height: 64px;
    width: 150px;
    left: 1220px;
    top: 50px;
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
    border-radius: 5px;
    color: #FFFFFF;
    
}
.connect{
    display: flex;
    background: #FFF8F3;
    padding: 130px 200px;
}
.connect .sections-title{
    text-align: left;
    font-weight: 700;
font-size: 35px;
line-height: 48px;
margin-bottom: 20px;

}
.connect .connect-des{
    font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #474747;
margin-bottom: 20px;
}

.connect input[type="text"], input[type="email"], textarea{
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    padding-left: 30px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.input{
    height: 64px;
}

.connect a{
    text-decoration: none;
}